* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
    background: url(i);
}

.wrapper {
    min-height: 100%;
    background: url(/img/bg.jpg) no-repeat center / cover;
}

.title {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.quiz-container {
    background-color: rgba(17, 41, 40, 0.479);
    color: rgb(21, 23, 190);
    border-radius: 15px;
    padding: 0 10px 0 10px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    height: 40px;
    background-color: rgb(184, 7, 31);
    border-radius: 5px;
    align-items: center;

}

.btn {
    height: 38px;
    background-color: rgba(202, 198, 198, 0.925);
    border-radius: 10px;
}

.name {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
}

.stroke {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgb(161 117 36);
    border-radius: 10px;
}

.name__input {
    border-radius: 5px;
    height: 30px;
}

.result {
    text-align: center;
}

.questionInput {
    border: solid 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.textBtn {
    width: 50px;
    height: 38px;
    background-color: rgba(202, 198, 198, 0.925);
    border-radius: 10px;
}

.img {
    width: 300px;
    border: rgb(87, 100, 93) solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.question {
    margin: 0 5px 10px 5px;
}